{{ form_start(form) }}
        {{ form_label(form.besoinFormationRotary) }}
<ul>
    {% for choice in form.besoinFormationRotary %}
        <li>
            <div class="form-check">
                {{ form_widget(choice,{'attr':{'class':'form-check-input'}}) }}
                {{ form_label(choice) }}
            </div>

        </li>
    {% endfor %}
</ul>
    <div class="mt-3">{{ form_row(form.articlesStatutsReglements) }}</div>

        <div class="form-check mt-3">
            {{ form_widget(form.voulezCommuniquerActivitePro) }}
            {{ form_label(form.voulezCommuniquerActivitePro) }}
        </div>
<div class="text-center mt-5 d-grid gap-2 col-6 mx-auto">
    {{ form_widget(form) }}
    <button class="btn btn-primary">Terminé</button>
</div>
{{ form_end(form) }}