{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.besoinConnaissanceActivitePro) }}
    <ul>
        {% for choice in form.besoinConnaissanceActivitePro %}
            <li>
                {{ form_widget(choice) }}
                {{ form_label(choice) }}
            </li>
        {% endfor %}
    </ul>
    {{ form_widget(form) }}
    <button class="btn btn-primary">Suivant</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Etape 3
{% endblock %}

