{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_label(form.besoinFormationDevPro) }} <em>(5 choix possible)</em>
    <ul>
        {% for choice in form.besoinFormationDevPro %}
            <li>
                {{ form_widget(choice) }}
                {{ form_label(choice) }}
            </li>
        {% endfor %}
    </ul>
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <button class="btn btn-primary">Suivant</button>
{% endblock %}

{% block title %}Rotary Atlantis etape 2{% endblock %}

